@use "../variables" as *;

.inputContainer {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    padding: vh(17px) vw(20px);
    padding-right: vw(50px); // X 버튼 공간 확보
    border: none;
    border-radius: 12px;
    font-size: rem(20px);
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    line-height: 1.75;

    &::placeholder {
      color: #d9d9d9;
      font-size: rem(20px);
      line-height: 1.75;
    }

    &.error {
      box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5);
    }

    &.valid {
      box-shadow: 0 0 10px 0 rgba(66, 188, 84, 0.7);
    }
  }

  .xButton {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: #b3b3b3;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
    width: vw(23px);
    height: vw(23px);
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
