// @use './variables' as *; 불러오기
// color: $color-main 사용

// 색상
// main
$color-main: #0c9ce9;
// sub
$color-sub: #80e6ff;
$color-sub-01: #d9d9d9;
$color-sub-02: #929292;
$color-sub-03: #595959;
// white
$color-white: #ffffff;
$color-red: #ff0000;
$color-red-01: #ff4242;
$color-red-02: #ffeaea;
$color-green: #42bc54;
// font
$font_weight_bold: 700;
$font_weight_semibold: 600;
$font_weight_regular: 400;

@mixin flex(
  $direction: row,
  $align-items: center,
  $justify-content: center,
  $gap: null
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $direction;
  gap: $gap;
}

@function rem($size) {
  @return calc($size / 16px * 1rem);
}

@function vw($size) {
  @return calc($size / 1920px * 100vw);
}

@function vh($size) {
  @return calc($size / 1080px * 100vh);
}
