@use "../../variables" as *;
.container {
  @include flex(column, start, center);
  width: 100%;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 0 36px 1px rgba(12, 156, 233, 0.4);
  border-radius: 44px;
  padding: vh(32px) vw(39px);
  height: -webkit-fill-available;
  .title {
    font-size: rem(26px);
    font-weight: $font_weight_bold;
    color: $color-sub-03;
    line-height: 1.75;
    span {
      color: $color-main;
    }
  }
  .subTitle {
    font-size: rem(20px);
    color: #929292;
    line-height: 1.75;
    margin-bottom: 35px;
  }
  .matchingListContainer {
    width: 100%;
    height: 100%;
    padding: 0 vw(18px);
    @include flex(column, center, start, vh(25px));
    margin-bottom: 32px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 80%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 120%);
      pointer-events: none;
      z-index: 10;
    }
  }
  .buttonContainer {
    width: 100%;
    position: relative;
    .busyLeft {
      position: absolute;
      z-index: 10;
      bottom: vh(40px);
      right: vw(-2px);
      width: vw(159px);
    }
    .seemoreButton {
      width: 100%;
      border: none;
      border-radius: 12px;
      cursor: pointer;
      background-color: $color-main;
      color: #fff;
      font-size: rem(16px);
      font-weight: $font_weight_semibold;
      line-height: 1.75;
      padding: vh(16px) vw(114px);
    }
  }
}
