@use "../../variables" as *;
.container {
  z-index: 10;
  @include flex(column, center, center);
  .profileSection {
    position: relative;
    margin-bottom: vh(52px);
    @include flex(column, center, center);

    .profileImage {
      background-color: #80e6ff;
      width: vw(174px);
      height: vw(174px);
      border-radius: 50%;
      object-fit: cover;
    }

    .cameraButton {
      position: absolute;
      bottom: 0;
      right: vw(7px);
      background: $color-main;
      border: none;
      border-radius: 50%;
      width: vw(39px);
      height: vw(39px);
      @include flex(row, center, center);
      cursor: pointer;
    }
    .cameraIcon {
      @include flex(row, center, center);
      width: vw(24px);
      height: vw(24px);
    }
  }
  .profileInfo {
    @include flex(column, center, center);
    .profileName {
      font-size: rem(26px);
      font-weight: $font_weight_bold;
      line-height: 1.75;
      color: $color-sub-03;
    }
    .profileDescription {
      font-size: rem(20px);
      line-height: 1.75;
      color: #929292;
      margin-bottom: vh(8px);
    }
    .rating {
      @include flex(row, center, center, vw(3px));
      .starIcon {
        width: vw(43px);
        height: vw(43px);
      }
      .ratingValue {
        font-size: rem(26px);
        line-height: 1.75;
        color: $color-main;
        font-weight: $font_weight_bold;
        margin-right: 0.5rem;
      }
      .ratingCount {
        font-size: rem(26px);
        line-height: 1.75;
        color: $color-sub-02;
        font-weight: $font_weight_bold;
      }
    }
  }
}
