@use "../../variables" as *;

.listItem {
  width: 100%;
  @include flex(row, center, space-between, vw(30px));
  background: none;

  .itemContent {
    @include flex(row, start, space-between, vw(12px));
    width: 100%;
    .itemInfo {
      @include flex(row, start, center, vw(30px));
      .profileImg {
        width: vw(96px);
        height: vw(96px);
        border-radius: 50%;
        object-fit: cover;
        margin-right: 18px;
        background: #f3f3f3;
      }
      .itemTitleContainer {
        width: 100%;
        @include flex(column, start, space-between);

        .itemTitle {
          font-size: rem(20px);
          font-weight: $font-weight-bold;
          color: $color-sub-03;
        }
      }
    }

    .itemStatus {
      font-size: rem(20px);
      font-weight: $font-weight-bold;
      @include flex(row, center, center, vw(14px));

      .statusDot {
        width: vw(13px);
        height: vw(13px);
        border-radius: 50%;
        background: #bdbdbd;
      }
    }

    .itemDesc {
      font-size: rem(20px);
      color: #929292;
      text-align: left;
      .itemPrice {
        color: $color-red-01;
        font-weight: $font-weight-bold;
      }
    }
  }
}
