@use "../../variables" as *;

.container {
  background-color: white;
  border-radius: vw(22px);
  padding: vh(57px) vw(162px);
  @include flex(column, center, center);
  .content {
    width: 100%;
    @include flex(column, center, center);
    .title {
      font-size: rem(26px);
      font-weight: $font_weight_bold;
      color: $color-sub-03;
    }
    .subTitle {
      font-size: rem(20px);
      color: #929292;
      line-height: 1.75;
    }

    .payMethodWrap {
      @include flex(row, center, center, vw(88px));
      margin-top: vh(54px);

      .payIcon {
        width: vw(119px);
        height: vw(119px);
        border-radius: 50%;
      }
    }

    .agreeWrap {
      @include flex(column, start, center, vh(10px));
      margin-top: vh(64px);
      .agreeItem {
        color: $color-sub-02;
        font-size: rem(20px);
        @include flex(row, center, center, vw(8px));
        .checkboxInput {
          appearance: none;
          width: vw(24px);
          height: vw(24px);
          border-radius: 50%;
          background-color: #d9d9d9;
          cursor: pointer;
          position: relative;

          &:checked {
            border-color: $color-main;
            border: 2px solid $color-main;
            background-color: white;

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: vw(13px);
              height: vw(13px);
              background-color: $color-main;
              border-radius: 50%;
            }
          }

          &:hover {
            border-color: $color-main;
          }
        }
      }
    }

    .buttonContainer {
      margin-top: vh(34px);
      width: 100%;
      @include flex(row, center, center, vw(45px));
      .cancelButton,
      .sendButton {
        width: vw(222px);
        padding: vh(16px) 0;
        color: white;
        border: none;
        font-size: rem(16px);
        cursor: pointer;
        line-height: 1.75;
      }
      .cancelButton {
        background: $color-sub-01;
      }
      .sendButton {
        background: $color-main;
        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}
