@use "../../variables" as *;

.listItem {
  width: vw(1000px);
  height: vh(96px);
  display: flex;
  align-items: center;
  background: none;
  border-radius: 18px;
  padding: 18px 24px;
  transition: background 0.15s;
  cursor: pointer;
  margin-top: 39px;
  margin-bottom: vh(50px);
  &:hover {
    background: rgba(33, 150, 243, 0.07);
  }

  .profileImg {
    width: vw(96px);
    height: vw(96px);
    border-radius: 50%;
    object-fit: cover;
    margin-right: 18px;
    background: #f3f3f3;
  }

  .itemContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .itemTitle {
      font-size: rem(18px);
      font-weight: 600;
      color: $color-sub-03;
      margin-bottom: 2px;
      text-align: left;
    }
    .itemDesc {
      font-size: rem(15px);
      color: #888;
      text-align: left;
      .itemPrice {
        color: #2196f3;
        font-weight: 700;
      }
    }
  }

  .itemStatusWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: vw(90px);
    gap: 4px;
    align-self: flex-start; // status wrap flex container의 탑으로
    margin-top: -10px;
    .itemStatus {
      min-width: vw(80px);
      text-align: right;
      font-size: rem(15px);
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 4px;
      .statusDot {
        display: inline-block;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #bdbdbd;
        margin-left: 4px;
      }
    }
    .dDay {
      font-size: 15px;
      font-weight: 600;
      margin-top: 2px;
      text-align: right;
      margin-right: vw(8px); // 오른쪽 정렬을 위해 추가
    }
  }
}
