@use "../variables" as *;

.container {
  width: 100%;
  min-height: 100vh;
  @include flex(column, center, flex-start);

  .content {
    position: relative;
    z-index: 1;
    @include flex(column, center, center);

    .logo {
      margin-top: vh(53px);
      margin-bottom: vh(136px);
      width: vw(60px);
      height: vh(55px);
    }

    .title {
      font-size: rem(46px);
      font-weight: $font_weight_semibold;
      text-align: center;
      line-height: 1.75;
      margin-bottom: vh(98px);
    }
    .form {
      width: 100%;
      @include flex(column, center, center);

      .formItem {
        width: 100%;
        margin-bottom: calc(vh(33px) + rem(14px));
        .formItemTitle {
          font-size: rem(20px);
          font-weight: $font_weight_regular;
          color: $color-sub-03;
          margin-bottom: vh(6px);
          line-height: 1.75;
        }
        .input {
          &.error {
            box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5);
          }

          &.valid {
            box-shadow: 0 0 10px 0 rgba(66, 188, 84, 0.7);
          }
        }

        .errorMessage {
          position: absolute;
          color: $color-red;
          font-size: rem(14px);
          margin-top: vh(4px);
          font-weight: $font_weight_regular;
          line-height: 1.75;
        }
      }

      .verificationBtnContainer {
        width: 100%;
        margin-bottom: vh(33px);
        .verificationBtn {
          width: 100%;
          height: 40px;
          background: $color-main;
          color: $color-white;
          border: none;
          border-radius: 12px;
          font-size: 1rem;
          font-weight: $font_weight_semibold;
          margin-bottom: 12px;
          cursor: pointer;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .verificationBtn:disabled {
          background: $color-sub-01;
          cursor: not-allowed;
        }
      }
    }

    .verifyContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: vw(29px);
      margin-bottom: vh(72px);

      .verifyInput {
        width: 100%;
        padding: vh(17px) vw(20px);
        padding-right: vw(50px);
      }

      .confirmBtn {
        width: vw(141px);
        height: auto;
        padding: vh(21px) 0;
        text-align: center;
        background: $color-sub-01;
        color: #fff;
        border: none;
        border-radius: 12px;
        font-size: rem(16px);
        line-height: 1.75;
        font-weight: $font_weight_semibold;
        cursor: pointer;
        align-items: center;
      }

      .activeConfirmBtn {
        background: $color-main;
        color: #fff;
        cursor: pointer;
      }
    }

    .links {
      @include flex(row, center, center);
      font-size: rem(14px);
      line-height: 1.75;
      margin-bottom: vh(78px);
      gap: vw(50px);
      .link {
        cursor: pointer;
      }
    }

    .disabledBtn {
      background: #e0e0e0;
      color: $color-sub-01;
    }

    .submitBtn {
      padding: vh(16px) vw(160px);
      background: $color-main;
      color: white;
      border: none;
      font-size: rem(16px);
      font-weight: $font_weight_semibold;
      cursor: pointer;
      margin-bottom: vh(139px);
      line-height: 1.75;
      &:disabled {
        background: $color-sub-01;
        cursor: not-allowed;
      }
    }

    .activeSubmitBtn {
      background: $color-main;
      color: #fff;
      cursor: pointer;
    }
  }
}
