@use "../variables" as *;

.container {
  width: 100%;
  min-height: 100vh;
  @include flex(column, center, flex-start);
  overflow-y: auto;
  position: relative;
  z-index: 10;
  padding-bottom: 50px;
}

.whiteBox {
  @include flex(column, center, center);
  background-color: rgba(255, 255, 255, 0.8); // 투명도
  width: vw(1187px);
  height: auto;
  border-radius: 22px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.logo {
  width: 60px;
  margin: 10px auto 66px auto;
  display: block;
}

.subtitle {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: $color-sub-03;
}

.description {
  font-size: 20px;
  color: $color-sub-02; // 서브 텍스트 색상
  text-align: center;
  //margin-top: 20px;
  margin-bottom: 30px;
}

.highlight {
  color: $color-red-01; // 강조 색상
  font-weight: bold;
}

.keyDescription {
  font-size: 20px;
  color: $color-sub-02; // 서브 텍스트 색상
  text-align: center;
  margin-top: vh(67px);
  margin-bottom: vh(40px);
}

.buttonGroup {
  display: grid;
  grid-template-columns: repeat(5, 1fr); // 한줄에 개
  gap: vh(6px) vw(5px); // 행, 열 간격
  justify-items: center; // 버튼 가운데 정렬
  //margin: 24px 0;
  margin-bottom: vh(29px);
}
.errorMsg {
  color: red;
  font-size: 0.875rem;
  margin-top: 8px;
  //  margin-bottom: vh(10px);
}

.errorInput {
  border: 1px solid #f44336; // 오류 시 테두리 색상
}

.middleDivider {
  width: vw(416px);
  height: 1px;
  background: $color-sub-02;
  //margin-bottom: vh(52px);
  // margin: 40px 0;
  margin-top: 36px;
  border: none;
}

.signupLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.95rem;
  color: $color-sub-03;
  margin: 53px 0 8px 0;
  gap: 50px;
  .findPwd,
  .loginLink {
    cursor: pointer;
  }

  .divider {
    color: #bbb;
  }
}

.submitBtn {
  display: block;
  margin: 32px auto vh(52px) auto;
  width: 362px;
  height: 60px;
  background: $color-sub-01; // 비활성화(회색)
  color: $color-white;
  border: none;
  font-size: 16px;
  font-weight: $font-weight-bold;
  transition: background 0.2s;
  cursor: pointer;

  &.active {
    background: $color-red-01; // 활성화(빨간색)
    cursor: pointer;
  }
}
