@use "../variables" as *;

.container {
  width: 100%;
  min-height: 100vh;
  @include flex(column, center, flex-start);
  overflow-y: auto;
  position: relative;
  z-index: 10;
  padding-bottom: 50px;
}

.whiteBox {
  @include flex(column, center, center);
  background-color: rgba(255, 255, 255, 0.8); // 투명도
  width: vw(1187px);
  height: auto;
  border-radius: 22px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.logo {
  width: 60px;
  margin: 10px auto 30px auto;
  display: block;
}

.subtitle {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: vh(20px);
  color: $color-sub-03;
}

.description {
  font-size: 20px;
  color: $color-sub-02; // 서브 텍스트 색상
  text-align: center;
  //  margin-top: vh(20px);
  //margin-bottom: vh(30px);
}

.highlight {
  color: $color-red-01; // 강조 색상
  font-weight: bold;
}

.keyDescription {
  font-size: 20px;
  color: $color-sub-02; // 서브 텍스트 색상
  text-align: center;
  margin-top: vh(67px);
  margin-bottom: vh(40px);
}
.inputGroup {
  width: vw(693px); //input 너비 조정
  //height: vw(69px);
  margin-bottom: 10px;
  .label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-size: 1rem;
  }
  .label span {
    color: red;
  }
  .input {
    width: vw(693px); //input 너비 조정
    max-width: 100%; //input 너비 조정
    height: vh(69px) !important; // Enforce height with !important
    font-size: rem(20px);
    padding: 14px 18px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    background: $color-white;
    margin-top: 6px;
    margin-bottom: 2px;
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.1); // 더 자연스럽고 아래로만 보이게
    &::label {
      font-size: rem(20px);
      color: $color-sub-03;
    }
    &::placeholder {
      color: $color-sub-02;
    }
  }
}

.buttonGroup {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 한줄에 4개
  gap: vh(6px) vw(5px); // 행, 열 간격
  justify-items: center; // 버튼 가운데 정렬
  margin-top: vh(24px);
  margin-bottom: 0;
  position: relative;
  z-index: 10;
}

.errorMsg {
  color: red;
  font-size: 0.875rem;
  margin-top: 8px;
}

.errorInput {
  border: 1px solid #f44336; // 오류 시 테두리 색상
}

.middleDivider {
  width: vw(416px);
  height: 1px;
  background: $color-sub-02;
  margin-top: vh(36px);
  margin-bottom: 52px;
  border: none;
}

.followerGroup {
  .label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-size: 1rem;
  }
  .label span {
    color: red;
  }

  width: vw(693px);
  margin-bottom: 20px;
  .radioGroup {
    display: flex;
    flex-direction: row;
    gap: vw(50px);
    margin-top: vh(40px);
    .radioLabel {
      display: flex;
      align-items: center;
      font-size: rem(13px);
      color: $color-sub-03;
      cursor: pointer;
      input[type="radio"] {
        margin-right: 10px;
        width: vw(18px); // 라디오 버튼 크기 조정
        height: vw(18px); // 라디오 버튼 크기 조정
      }
    }
  }
}

.signupLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.95rem;
  color: $color-sub-03;
  margin: 53px 0 8px 0;
  margin-top: 134px;
  gap: 50px;
  .findPwd,
  .loginLink {
    cursor: pointer;
  }

  .divider {
    color: #bbb;
  }
}

.submitBtn {
  display: block;
  margin: 30px auto vh(52px) auto;
  width: 362px;
  height: 60px;
  background: $color-sub-01; // 비활성화(회색)
  color: $color-white;
  border: none;
  font-size: 16px;
  font-weight: $font-weight-bold;
  transition: background 0.2s;
  cursor: pointer;

  &.active {
    background: $color-red-01; // 활성화(빨간색)
    cursor: pointer;
  }
}
