@use "../variables" as *;

.container {
  width: 100%;
  height: 100vh;
  @include flex(column, center, flex-start);
  line-height: 1.75;

  .content {
    position: relative;
    z-index: 1;
    height: 100vh;
    @include flex(column, center, center);

    .logo {
      margin-top: vh(123px);
      margin-bottom: vh(66px);
      width: vw(60px);
      height: vh(55px);
    }

    .title {
      font-size: rem(46px);
      font-weight: $font_weight_semibold;
      text-align: center;
      line-height: 1.75;

      span {
        font-weight: $font_weight_bold;
        color: $color-main;
      }
    }

    .form {
      width: 100%;
      margin-top: vh(98px);
      @include flex(column, center, center);

      .formItem {
        margin-bottom: vh(33px);
        width: 100%;

        .formItemTitle {
          font-size: rem(20px);
          font-weight: $font_weight_regular;
          color: $color-sub-03;
          margin-bottom: vh(6px);
        }

        .input {
          width: 100%;
          padding: vh(17px) vw(18px);
          border: none;
          border-radius: 12px;
          font-size: rem(20px);
          background-color: #fff;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);

          &::placeholder {
            color: #d9d9d9;
            font-size: rem(20px);
          }

          &.error {
            box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5);
          }

          &.valid {
            box-shadow: 0 0 10px 0 rgba(66, 188, 84, 0.7);
          }
        }

        .errorMessage {
          position: absolute;
          color: $color-red;
          font-size: rem(14px);
          margin-top: vh(4px);
          font-weight: $font_weight_regular;
          line-height: 1.75;
        }
      }
    }

    .checkbox {
      @include flex(row, center, center, vw(10px));
      font-size: rem(14px);
      font-weight: $font_weight_regular;
      color: $color-sub-03;
      text-align: left;
      align-self: flex-start;
      margin-bottom: vh(58px);

      .checkboxInput {
        appearance: none;
        width: vw(24px);
        height: vw(24px);
        border-radius: 50%;
        background-color: #d9d9d9;
        cursor: pointer;
        position: relative;

        &:checked {
          border-color: $color-main;
          border: 2px solid $color-main;
          background-color: white;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: vw(13px);
            height: vw(13px);
            background-color: $color-main;
            border-radius: 50%;
          }
        }

        &:hover {
          border-color: $color-main;
        }
      }

      .checkboxLabel {
        cursor: pointer;
      }
    }

    .links {
      @include flex(row, center, center);
      font-size: rem(14px);
      line-height: 1.75;
      margin-bottom: vh(78px);
      gap: vw(50px);
    }

    .submitButton {
      padding: vh(16px) vw(160px);
      background: $color-main;
      color: white;
      border: none;
      font-size: rem(16px);
      font-weight: $font_weight_semibold;
      cursor: pointer;
      margin-bottom: vh(139px);
      &:disabled {
        background: $color-sub-01;
        cursor: not-allowed;
      }
    }
  }
}
