@use "../variables" as *;

.container {
  height: 100vh;
  @include flex(column, center, start);
  margin: vh(40px) 0;
  z-index: 1;
  min-width: vw(1187px);
  width: max-content;

  .contentContainer {
    min-height: vh(1277px);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    border-radius: vw(44px);
    width: 100%;
    @include flex(column, center, start);
    padding: vh(25px) vw(155px);
    position: relative;
    .titleContainer {
      @include flex(column, center, center);
      position: relative;
      margin-top: vh(94px);
      width: 100%;
      margin-bottom: vh(39px);
      .subtitle {
        font-size: rem(26px);
        color: $color-sub-03;
        text-align: center;
        .highlight {
          font-weight: $font-weight-bold;
          color: $color-main;
        }
      }

      .hamburgerContainer {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;

        .hamburgerIcon {
          width: vw(29px);
          height: vw(29px);
          cursor: pointer;
          margin-top: vh(10px);
        }

        .paymentModal {
          z-index: 1000;
          position: absolute;
          top: 44px;
          right: 0;
          left: auto;
          z-index: 10;
        }
      }

      .description {
        font-size: rem(20px);
        color: #929292;
        text-align: center;
        width: 100%;
      }
    }
    .listWrap {
      width: 100%;
      @include flex(column, center, center, vh(50px));
      margin-bottom: vh(73px);
    }
    .paginationContainer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      @include flex(row, center, center);
      margin-bottom: vh(58px);
    }
  }

  .paymentProgressModal {
    position: fixed;
    top: 0;
    @include flex(column, center, center);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.24);
    z-index: 1000;
  }

  .paymentCompleteModal {
    position: fixed;
    top: 0;
    @include flex(column, center, center);
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.24);
    z-index: 1000;
  }
}
