@use "../variables" as *;

.container {
  min-height: 100vh;
  @include flex(column, center, start);
  margin: vh(40px) 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  border-radius: 44px;
  padding: vh(24px) vw(79px);
  min-width: vw(1187px);
  width: max-content;

  .headerContainer {
    width: 100%;
    padding: 0 vw(76px);
  }
  .titleContainer {
    .subhamContainer {
      position: relative;
      width: 100%;
      max-width: 600px;
      margin: vh(94px) auto 0 auto;
      min-height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .subtitle {
      font-size: rem(36px);
      font-weight: $font_weight_semibold;
      color: $color-sub-03;
      margin: 0 auto;
      text-align: center;
      flex: 1;
      padding: 0 60px;
      .highlight {
        color: $color-main;
      }
    }
    .hamburgerContainer {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      z-index: 2;
    }
    .hamburgerIcon {
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
    .description {
      font-size: rem(20px);
      color: $color-sub-02;
      margin-top: 0;
      text-align: center;
    }
  }
}
