@use "../variables" as *;

.container {
  height: 100vh;
  @include flex(column, center, start);
  margin: vh(40px) 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  border-radius: 44px;
  padding: vh(24px) vw(79px);
  min-width: vw(1187px);
  width: max-content;

  .headerContainer {
    width: 100%;
    padding: 0 vw(76px);
  }

  .titleContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-top: vh(94px);

    .subhamContainer {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .subtitle {
      font-size: rem(36px);
      font-weight: $font_weight_semibold;
      color: $color-sub-03;
      margin: 0 auto;
      text-align: center;

      .highlight {
        color: $color-main;
      }
    }

    .hamburgerContainer {
      position: absolute;
      top: 0;
      right: vw(75px); //오른쪽에 위치
      z-index: 2;

      .hamburgerIcon {
        width: vw(29px);
        height: vw(29px);
        cursor: pointer;
        margin-top: 10px;
      }

      .paymentModal {
        z-index: 1000;
        position: absolute;
        top: 44px;
        right: 0;
        left: auto;
        z-index: 10;
      }
    }

    .description {
      font-size: rem(20px);
      color: $color-sub-01 !important;
      font-weight: $font_weight_regular;
      margin-top: 0;
      margin-bottom: vw(39px);
      text-align: center;
      width: 100%;
      position: absolute;
      left: 0;
      top: 100%;
    }
  }

  .listWrap {
    width: 100%;
    @include flex(column, start, center, vh(20px));
    margin-top: vh(40px);
    margin-bottom: vh(40px);
  }

  .paginationContainer {
    width: 100%;
    @include flex(row, center, center);
    margin-top: vh(20px);
    margin-bottom: vh(40px);
  }

  .paymentProgressModal {
    position: fixed;
    top: 0;
    @include flex(column, center, center);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.24);
    z-index: 1000;
  }

  .paymentCompleteModal {
    position: fixed;
    top: 0;
    @include flex(column, center, center);
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.24);
    z-index: 1000;
  }
}
