@use "../variables" as *;

.whole {
  width: 100%;
  height: 100vh; // 전체 높이를 100vh로 설정
  .container {
    @include flex(column, center, center);
    position: relative;
    z-index: 1;
    padding-bottom: vh(50px);

    .whiteBox {
      background-color: rgba(255, 255, 255, 0.8); // 투명도
      width: vw(1187px);
      border-radius: vw(22px);
      @include flex(column, center, center);
      margin-top: vh(30px);
      margin-bottom: vh(30px);
      padding-bottom: vh(20px);

      .logo {
        width: vw(59px);
        margin-top: vh(26px);
        margin-bottom: vh(30px);
      }
      .subtitle {
        font-size: rem(46px);
        font-weight: $font_weight_semibold;
        text-align: center;
        margin-bottom: vh(20px);
        color: $color-sub-03;
        .highlight {
          color: $color-main;
          font-weight: $font_weight_bold;
        }
      }
      .description {
        font-size: rem(20px);
        color: $color-sub-03;
        text-align: center;
        margin-bottom: vh(52px);
      }
      .profileSection {
        position: relative;
        margin-bottom: vh(52px);
        @include flex(column, center, center);

        .profileImage {
          background-color: #80e6ff;
          width: vw(174px);
          height: vw(174px);
          border-radius: 50%;
          object-fit: cover;
        }

        .cameraButton {
          position: absolute;
          bottom: 0;
          right: vw(7px);
          background: $color-main;
          border: none;
          border-radius: 50%;
          width: vw(39px);
          height: vw(39px);
          @include flex(row, center, center);
          cursor: pointer;
        }
        .cameraIcon {
          @include flex(row, center, center);
          width: vw(24px);
          height: vw(24px);
        }
      }

      .inputGroup {
        width: vw(604px);
        @include flex(column, center, center);
        .nicknameGroup {
          position: relative;
          width: 100%;
          @include flex(column, start, center, vh(11px));
          .label {
            text-align: left;
            font-size: rem(20px);
          }
          .nicknameContainer {
            width: 100%;
            @include flex(row, center, center, vw(29px));
            .input {
              &.error {
                box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5);
              }

              &.valid {
                box-shadow: 0 0 10px 0 rgba(66, 188, 84, 0.7);
              }
            }
            .checkButton {
              padding: vh(21px) 0;
              width: vw(141px);
              height: vh(71px);
              background-color: $color-main;
              border: none;
              border-radius: vw(12px);
              cursor: pointer;
              color: #fff;

              &:hover {
                background-color: $color-main;
              }

              &.disabled {
                background-color: $color-sub-01; // 버튼 비활성화 시 색상
                cursor: not-allowed;
              }
            }
          }
          .errorMessage {
            position: absolute;
            color: $color-red;
            font-size: rem(14px);
            margin-top: vh(4px);
            font-weight: $font_weight_regular;
            line-height: 1.75;
          }

          .successMessage {
            position: absolute;
            color: $color-green;
            font-size: rem(14px);
            margin-top: vh(4px);
            font-weight: $font_weight_regular;
            line-height: 1.75;
            bottom: vh(-30px);
          }
        }

        .profileXButton {
          right: 40px; // 더 왼쪽으로 이동
        }

        .textarea {
          width: 100%;
          height: vh(178px);
          border-radius: vw(12px);
          border: none;
          margin-top: vh(52px);
          font-size: rem(20px);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
          padding: vh(17px) vw(18px);
          line-height: 1.75;
          resize: none;
          &::placeholder {
            color: $color-sub-01;
          }
        }
      }
      .signupLink {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.95rem;
        color: $color-sub-03;
        margin: 53px 0 8px 0;
        gap: 50px;
        .findPwd,
        .loginLink {
          cursor: pointer;
        }

        .divider {
          color: #bbb;
        }
      }
      .submitBtn {
        display: block;
        margin: 32px auto vh(52px) auto;
        width: 362px;
        height: 60px;
        background: #2196f3;
        color: #fff;
        border: none;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        &.disabled {
          background-color: #ddd; // 버튼 비활성화 시 색상
          cursor: not-allowed;
        }
      }
    }
  }
}
