@use "../variables" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;

  .logo {
    width: 60px;
    margin: vw(123px) auto 66px auto;
    display: block;
  }

  .subtitle {
    font-size: rem(46px);
    font-weight: $font_weight_semibold;
    text-align: center;
    margin-bottom: vw(98px);
    color: $color-sub-03;
    .highlight {
      color: $color-main;
      font-weight: $font_weight_bold;
    }
  }

  .form {
    width: max-content;
    min-width: vw(603px);
    @include flex(column, center, center, vh(33px));
    .formItem {
      width: 100%;
      label {
        font-size: rem(20px);
        color: $color-sub-03;
        margin-bottom: vh(6px);
      }
      .input {
        &.error {
          box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5);
        }

        &.valid {
          box-shadow: 0 0 10px 0 rgba(66, 188, 84, 0.7);
        }
      }
      .errorMessage {
        position: absolute;
        color: $color-red;
        font-size: rem(14px);
        margin-top: vh(4px);
        font-weight: $font_weight_regular;
        line-height: 1.75;
      }
    }

    .verificationBtnContainer {
      width: 100%;
      .verificationBtn {
        width: 100%;
        background: $color-main;
        color: $color-white;
        border: none;
        border-radius: vw(12px);
        font-size: rem(16px);
        font-weight: $font_weight_semibold;
        margin-bottom: vh(9px);
        padding: vh(5px) 0;
        cursor: pointer;
        line-height: 1.75;
      }
      .disabled {
        width: 100%;
        background: $color-sub-01;
        color: $color-white;
        border: none;
        border-radius: vw(12px);
        font-size: rem(16px);
        font-weight: $font_weight_semibold;
        margin-bottom: vh(9px);
        padding: vh(5px) 0;
        cursor: pointer;
        line-height: 1.75;
      }
    }
    .verificationContainer {
      width: 100%;
      position: relative;
      .verifyContainer {
        @include flex(row, center, space-between, vw(29px));
        width: 100%;
        .confirmBtn {
          padding: vh(21px) vw(56px);
          min-width: max-content;
          line-height: 1.75;
          height: 100%;
          background: $color-sub-01;
          color: $color-white;
          border: none;
          border-radius: 8px;
          font-size: rem(16px);
          font-weight: $font_weight_semibold;
          cursor: pointer;
          align-items: center;
          &.active {
            background: $color-main;
            color: #fff;
            cursor: pointer;
          }
        }
      }
      .message {
        position: absolute;
        top: 100%;
        left: 0;
        font-size: rem(14px);
        color: $color-red;
        &.successMessage {
          color: $color-green;
        }
      }
    }

    .agreeSection {
      width: 100%;
      @include flex(column, start, center, vh(10px));
      margin: vh(39px) 0 vh(55px) 0;
      .checkbox {
        @include flex(row, center, center, vw(10px));
        font-size: rem(14px);
        font-weight: $font_weight_regular;
        color: $color-sub-03;
        text-align: left;
        align-self: flex-start;
        line-height: 1.75;

        .checkboxInput {
          appearance: none;
          width: vw(24px);
          height: vw(24px);
          border-radius: 50%;
          background-color: #d9d9d9;
          cursor: pointer;
          position: relative;

          &:checked {
            border-color: $color-main;
            border: 2px solid $color-main;
            background-color: white;

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: vw(13px);
              height: vw(13px);
              background-color: $color-main;
              border-radius: 50%;
            }
          }

          &:hover {
            border-color: $color-main;
          }
        }

        .checkboxLabel {
          cursor: pointer;
        }
      }
    }
    .links {
      @include flex(row, center, center);
      font-size: rem(14px);
      line-height: 1.75;
      margin-bottom: vh(78px);
      gap: vw(50px);
      .link {
        cursor: pointer;
      }
    }
  }

  .submitButton {
    padding: vh(16px) vw(160px);
    background: $color-main;
    color: white;
    border: none;
    font-size: rem(16px);
    font-weight: $font_weight_semibold;
    cursor: pointer;
    margin-bottom: vh(139px);
    line-height: 1.75;
    &:disabled {
      background: $color-sub-01;
      cursor: not-allowed;
    }
  }
}
